site_name: SilverDAT Schnittstellen-Kompendium
site_url: https://tehehbil.github.io/dat-docs/
theme:
  name: material
  language: de
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.code.copy
    - toc.follow
plugins:
  - search:
      lang: de
